@charset "UTF-8";
* {
    text-decoration: none;
}
body {background-color: rgb(229, 255, 81);}
* {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}
.anima {
    color: black;
    font-family: "Gotham";
  text-align: center;
  border-right: black solid 2px;
    align-content: center;
    margin: 0 auto;
    padding: 0%;
    max-width: 0%;
    display: inline-block;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: pisca normal infinite .5s, escrever normal infinite 5s steps(50) both;
}
@keyframes pisca {100%

{
    border-right-color: transparent;
}
}
@keyframes escrever {
    100% {
        max-width: 100%;
    }
}

h4 {color: white;
font-family: "Gotham";
text-align: center;}
menu {
background-color:yellow ;
}
li a {
    text-decoration: none;
}
p {color: white;
font-family: "Bebas Neue";
text-align: justify;
margin: 15px;
font-size: 25px;
letter-spacing: 2px;}
a {color: white; text-align: center;}
li {color: white}
mark {background-color: rgb(246, 250, 0);}
#menu {
    list-style-type: none;
    padding:0 ;
    background-color: rgb(7, 0, 39);
    text-align: center;
    font-size: 25px;
    font-family: "Gotham";
}
#menu li {
    display: inline;
}
#menu li a{
    display: inline;
    color: white;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    }
#menu li a:hover {
    background-color: rgb(18, 221, 0);
    
}
img
{
    margin: 0%;
    width: 440px;
    padding: 0;
    display: inline;
    display: inline-block;
    align-content: center;
}
#final
{
    font-family: "GOtham";
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
